* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.side {
  background-color: rgba(0, 0, 0, 0.858);
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.side img {
  margin-top: 30px;
  margin-left: 75px;
  border-radius: 100px;
  border: 5px solid grey;
}
.side p {
  margin-top: 20px;
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}
.social {
  margin: 20px;
  font-size: 25px;
  color: white;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
.social a {
  text-decoration: none;
  color: white;
}
.nav li {
  display: flex;
  margin: 20px;
  align-items: center;
}
.side ul li a {
  font-size: 25px;

  color: white;
  padding: 0 30px;
}
.nav span {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 18px;
  color: wheat;
  font-weight: 100;
  padding: 15px;
}
.side ul li a:hover {
  color: aqua;
  margin-left: 20px;
  transition: 0.4s ease;
}
.nav span:hover {
  color: white;
  transition: 0.4s ease;
}
.home {
  position: fixed;
  background-image: linear-gradient(
      rgba(31, 29, 30, 0.322),
      rgba(31, 29, 30, 0.322)
    ),
    url("hero-bg.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  color: white;
  padding: 20px;
}
.home h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 80px;
  margin-left: 500px;
  margin-top: 200px;
}
.ctn {
  width: 100%;
  height: 100vh;

  margin-left: 505px;
  color: white;
}
.ctn h1 {
  font-weight: 300;
  font-size: 30px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.auto-type {
  color: #fff724;
}
.about h3 {
  color: white;
}
/*ABOUT*/

.about h2 {
  color: rgb(7, 83, 248);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 20px;
}
.about p {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 10px;
  margin-left: 30px;
  width: 90%;
  font-size: 20px;
}
.aboutctn {
  margin: 10px;
  margin-top: 80px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.147);
}
.aboutctn img {
  margin: 10px;
}
.h2 {
  font-size: 40px;
  color: rgb(7, 83, 248);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 30px;
}
ul li {
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.best {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
}
.lists {
  display: flex;
  justify-content: space-evenly;

  margin-left: 50px;
}
.list1 {
  line-height: 40px;
}
.list2 {
  line-height: 40px;
}
.paraabout {
  width: 300px;
  font-weight: 400;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.fact h2 {
  color: rgb(7, 83, 248);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 20px;
}
.fact p {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 10px;
  margin-left: 30px;
  width: 90%;
}
.static {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.big {
  font-size: 40px;
  text-align: center;
  color: rgb(38, 0, 255);
}
.number1 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.client h3 {
  font-weight: 300;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 40px;
}
.skill h2 {
  color: rgb(7, 83, 248);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 20px;
}
.skill p {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 10px;
  margin-left: 30px;
  width: 90%;
}

.header {
  background-color: white;
  box-shadow: 0 10px 10px -10px rgba(35, 35, 38, 0.1);
}
#menunav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 15px;
  position: relative;
}
.logonav img {
  max-width: 150px;
  display: block;
}
#menunav ul li {
  display: inline-block;
}
#menunav ul li a {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  color: black;
  padding: 13px 0;
  position: relative;
  transition: 0.4s ease;
}
#menunav ul li:not(:last-child) a {
  margin: 18px;
}
#menunav ul li:hover a {
  color: rgb(38, 0, 255);
}
#menunav ul li a::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(38, 0, 255);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
}
#menunav ul li:hover a::after {
  opacity: 1;
  visibility: visible;
  bottom: 0;
}
#menunav input,
#menu input {
  display: none;
}
@media only screen and (min-width: 768px) {
  #menunav ul li:last-child a {
    color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 30px;
    background-image: linear-gradient(
      270deg,
      rgb(36, 0, 255) 0%,
      rgb(38, 0, 255) 100%
    );
    box-shadow: 6px 6px 25px 0px rgba(36, 0, 255);
  }
  #menunav ul li:last-child a::after {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  #menunav label {
    display: block;
  }
  #menunav label::before {
    content: "\2261";
    font-size: 44px;
  }
  ul {
    position: absolute;
    top: 100%;
    background-color: white;
    right: 0;
    left: 0;
    z-index: 3;
    height: calc(100vh -71px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: 0.6s ease;
  }
  #menunav input:checked + label::before {
    content: "\00d7";
  }
  #menunav input:checked ~ ul {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  #menunav ul li:not(:last-child) a {
    margin: 0px;
  }
}
.resume {
  display: flex;
  gap: 200px;
  padding-bottom: 40px;
}
/*resume*/
.sumary {
  margin-left: 25px;
  margin-right: 5px;
  border-left: 2px solid blueviolet;
  padding: 30px;
}
.left {
  gap: 30px;
  width: 600px;
}

.left h3 {
  margin-bottom: 15px;
  margin-left: 15px;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.left h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  margin-left: 30px;
  margin-top: 20px;
}
.left p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 400;
  width: 500px;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.sumarylist li {
  line-height: 25px;
  margin-left: 50px;
  list-style-type: square;
}
.education h4 {
  margin: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.education h3 {
  margin-top: 20px;
}
box {
  margin: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 255, 255, 0.264);
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.eduinfo {
  margin-left: 25px;
  margin-right: 5px;
  padding-bottom: 20px;
  border-left: 2px solid blueviolet;
}
.right {
  width: 600px;
}
.right h3 {
  margin-bottom: 15px;
  margin-left: 15px;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.right h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.right p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 200;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
}
.proexp {
  margin-left: 25px;
  margin-right: 5px;
  border-left: 2px solid blueviolet;
}
.proexp h4 {
  margin: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.explist li {
  margin-top: 25px;
  margin-left: 50px;
  list-style-type: square;
  line-height: 25px;
}
/*portfolio*/
.portfolio {
  background-color: rgba(137, 43, 226, 0.114);
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
}
.portfolio h2 {
  color: rgb(7, 83, 248);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 20px;
}

.portfolio p {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 10px;
  font-size: 20px;
}
.okjuhg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.categories:hover {
  background-color: white;
  box-shadow: 6px 6px 6px 0px rgba(24, 24, 24, 0.871);
  transition: 0.4s ease;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  gap: 12px;
  border-radius: 30px;
  padding: 15px;
  margin: 15px;
}

.projects {
  display: flex;
  justify-content: space-evenly;
}
.projects a {
  margin-bottom: 15px;
}
.project a:hover {
  transition: 0.4s;
  box-shadow: 6px 6px 0px 0px rgba(6, 234, 255, 0.871);
}
/*SERVEICE*/
.service {
  padding: 30px;
}
.service h2 {
  margin-bottom: 15px;
  color: rgb(7, 83, 248);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.servicep {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-size: 20px;
}
.service1 {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.service1 ion-icon {
  font-size: 30px;
  color: white;
  box-sizing: border-box;
  background-color: rgba(31, 202, 221, 0.936);
  padding: 15px;
  border-radius: 35px;
}
.service1 ion-icon:hover {
  font-size: 30px;
  color: rgba(31, 202, 221, 0.936);
  box-sizing: border-box;
  background-color: white;
  border: 1px solid rgba(31, 202, 221, 0.936);
  padding: 15px;
  border-radius: 35px;
  transition: 0.9s ease;
}
.service1 span h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 90px;
  margin-top: -60px;
}
.service1 span h3:hover {
  cursor: pointer;
  transition: 0.5s ease;
  color: rgba(31, 202, 221, 0.936);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 90px;
  margin-top: -60px;
}
.serviceinfo p {
  padding-top: 20px;
  padding-left: 90px;
  width: 300px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.Testimonial {
  padding: 30px;
  background-color: rgba(0, 0, 255, 0.049);
}
.Testimonial h2 {
  margin-bottom: 15px;
  color: rgb(7, 83, 248);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.Testimonial p {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background-color: rgba(0, 0, 255, 0.049);
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}
.mySlides img {
  display: flex;
  margin-left: 44%;
  margin-bottom: 30px;
  border-radius: 100px;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: rgb(246, 8, 8);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: rgb(4, 251, 206);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
}

/* Add a blue color to the author */
.author {
  color: cornflowerblue;
}
